//
   Created by tomino on 18/04/24.

section#about
    div
        div#at.init-title
            span.ts ABOUT US
        div#ac.about-container
            div.about-col.init-col
                div.about-header
                    span.sec-header 人々が集う場所

                div.about-content
                    span.sente 株式会社アルヴェアーレでは医療系のシステム開発、コンサルティングおよび運用を中心に、様々な業種のWEBシステムの制作やコンテンツ企画、スマホアプリ開発などを行っています。また、サーバやネットワーク監視のパッケージ「NetKidsシリーズ」の販売や運用サポートも行っています。
                    br
                    br
                    span.sente  アルヴェアーレとは、人々が集う場所という意味があり、様々な価値観を生み出しより良い物を作っていきたいという思いが込められています。
            div.about-col.init-col
                div.about-img