doctype html
link(rel="stylesheet" type="text/css" href="style.css")
body.body
    include header.jade
    include top.jade
    include aboutus.jade
    include mission.jade
    include service.jade
    include news.jade
    include otherinfo.jade
    include footer.jade
    script(type="text/javascript" src="./src/js/scrollMonitor.js")
    script(type="text/javascript" src="./src/js/scrollevent.js")
