//
   Created by tomino on 18/04/19.

section#mission.mission-container
    div.mission-content
        div#mt.init-title
            span.ts MISSION
        div.word-container
                div.mission-col
                    div#mp1
                div.mission-col
                    div#mw1.init-mw
                        span 企
                        span 業
                        span の
                        span イ
                        span ン
                        span タ
                        span ー
                        span ネ
                        span ッ
                        span ト
                        span へ
                        span の
                        span 参
                        span 画
                        span を
                        span 促
                        span 進
                        span し
                        span 社
                        span 会
                        span 生
                        span 活
                        span の
                        span 活
                        span 性
                        span 化
                        span を
                        span 図
                        span る
                        br
                    div#mw2.init-mw
                        span ク
                        span オ
                        span リ
                        span テ
                        span ィ
                        span の
                        span 高
                        span い
                        span I
                        span T
                        span 技
                        span 術
                        span を
                        span も
                        span ち
                        br
                        span 社
                        span 会
                        span 貢
                        span 献
                        span の
                        span で
                        span き
                        span る
                        span 人
                        span 材
                        span を
                        span 育
                        span 成
                        span す
                        span る
                        br

