//
   Created by tomino on 18/04/19.

section.mission-container
    div.mission-content
        div.mission-cols
            div.mission-title Mission
            div.word-container
                div.mission-word あらゆる企業のインターネットへの参画を促進し、社会生活の活性化を図る。
                div.mission-word クオリティの高いIT技術をもち、社会貢献のできる人材を育成する。
