//
   Created by tomino on 18/04/19.

section#mission.mission-container
    div.mission-content
        div#mt.init-title
            span.ts MISSION
        div.word-container
                div.mission-col
                div#mw1.mission-col
                    span あ
                    span ら
                    span ゆ
                    span る
                    span 企業
                    span の
                    br
                    span インターネット
                    span へ
                    span の
                    br
                    span 参画
                    span を
                    span 促進
                    span し、
                    br
                    span 社会生活
                    span の
                    span 活性化
                    span を
                    span 図る。

                div.mission-col
                div.mission-col クオリティの高いIT技術をもち、社会貢献のできる人材を育成する。
