//
   Created by tomino on 18/04/22.
section
    div.news-container
        div.news-title NEWS
        div.news-content
            div.news-header test
            div.news-description testtesttesttest
        div.news-content
            div.news-header test4
            div.news-description testtesttesttest
        div.news-content
            div.news-header test2
            div.news-description testtesttesttest
        div.news-content
            div.news-header test3
            div.news-description testtesttesttest
