//
   Created by tomino on 18/04/22.
section#news
    div#nt.init-title
        span.ts NEWS
    div.news-container
        div.news-content
            div.news-data 2018.04.22
            div.news-header test
        div.news-content
            div.news-data 2018.04.22
            div.news-header testdiv.news-content
        div.news-content
            div.news-data 2018.04.22
            div.news-header test
        div.news-content
            div.news-data 2018.04.22
            div.news-header test    div.news-description testtesttesttest

