//
   Created by tomino on 18/04/24.
section
    div.other-container
        div.other-content.oa
            span.other-word Contact Us
        div.other-content
            span.other-word Staff Blog

