//
   Created by tomino on 18/04/20.

section
  div.service-container
    div.service-title SERVICE
    div.service-flex-container
        div.service-block
            div.service-content
                span.service-work WEB・システム開発
        div.service-block
            div.service-content
        div.service-block
            div.service-content
        div.service-block
            div.service-content
        div.service-block
            div.service-content


