

.about-container{
  @include cm();
  padding:0 7.2%;
  display:flex;
  justify-content: space-around;
}

.about-col{
  padding:0 16px;
}

.init-col div{
  opacity:0;
  transform: translateY(50px);
}

.animate-about-col div.about-col{
  &:nth-child(1){
    transition: all 1s 0s ease;
    opacity:100;
    transform: translateY(0px);
  }
  &:nth-child(2){
    transition: all 1s 0s ease;
    opacity:100;
    transform: translateY(0px);
  }
}

.about-header{
  margin-bottom:16px;
}

.about-content{
  min-width:350px;
  max-width:600px;
}

.about-img{
  max-width:400px;
  min-width:350px;
  height:290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image{
}

.dn{
  display: none;
  @include mq(md){
    display:block;
  }
}
