

.access-container{
  @include cm();
  @include centering();
  flex-wrap: wrap;
}

.access-map-box{
  padding:0 8px;
  width: 100%;
  @include mq(md){
    padding:0;
    width:85%;
  }
  position: relative;
  padding-bottom: 40% !important;
  height: 0;
  overflow: hidden;
  & iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.access-info{
  padding:0 8px;
  @include mq(md){
    padding: 0 7.5%;
  }
}

.a-header{
  display: inline-block;
  width:4em;
  color: $text;
  font-weight: bold;
}
