
.footer-container{
  padding:0 7.5%;
  margin-top:65px;
}

.footer-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-footermenu-container{
  max-width: 250px;
  margin:80px 0;
}


ul#menu-footermenu {
  margin:0;
  padding:0;
}

ul#menu-footermenu li{
  outline:0;
  border:none;
  transition: all 300ms 0s ease;
  color:$sec-text;
  box-sizing:border-box;
  margin-top:10px;
  list-style-type: none;
  max-width:250px;
  & a{
    text-decoration: none;
    border:none;
    color:$sec-text;
    transition:all 300ms 0s ease;
    font-size: 1em;
    font-weight: bold;
  }
  &:hover > a{
    color:$def-deep;
  }

}

.footer-img{
  height:40px;
  @include mq(md){
    height:70px;
  }

}


.company-info{
  margin:80px 0;
  min-width:250px;
  & span{
    margin: 4px 0;
    display: block;
    text-align: right;
    color: $sec-text;
  }
}

.copyright{
  width: 100%;
  margin-bottom:10px;
  text-align: center;
  & span{
    display: inline-block;
    font-size: 0.6em;
    @include mq(md){
      font-size:0.8em;
    }
    color:$sec-text;
  }
}
