.contact-container{
  margin:80px 0;
  padding:0 16px;
  @include mq(md){
    padding:0 7.5%;
  }
}

.contact-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contact-content{
  width: 100%;
  margin:32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header{
  width:100%;
  display: inline-block;
}

.contact-input-box{
  width: 100%;
  display: inline-block;
position: relative;
  &::after{
    content:"";
    position: absolute;
    bottom:0;
    height:2px;
    width:100%;
    background-color: $disable;
  }
  & input{
    width:100%;
    outline:none;
    height: 40px;
    padding:5px;
    font-size: 1.3em;
    position: relative;
    border:none;
  }
}

.contact-textarea{
  height:300px;
  width:100%;
  font-size:1.3em;
  padding:16px;
}
.contact-submit{
  & input{

    font-size: 1.5em;
        border: none;
        height: 40px;
        width: 100%;
        color: white;
  background-color: $def-deep;
}
}

.confirm-container{
  margin:80px 0;
  padding:0 7.5%;
}

.confirm-table{
  width:100%;

}

.submit{
  width:150px;
  color: white;
  background-color: $def-deep;
  border:none;
  font-size:1.2em;
  margin:16px;
  padding:16px;
}

.complete-container{
  padding:0 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:50vh;
}


.complete-content{
  & a{
    text-decoration: none;
    font-size: 3em;
    color:$text;
  }
}
