

.header-container{
  display: flex;
  flex-direction:row;
  position:absolute;
  top:0;
  width:100%;
}

.header-corp-link{
  margin-right:auto;
  font-size:3em;
  font-weight: 900;
  padding:16px;
}

.header-button{
  outline:0;
  padding:16px;
  font-size:1.1em;
  width:8em;
  border:none;
  background-color: rgba(255,255,255,0.5);
  color: rgba(100,100,100,0.8);
  transition: all 300ms 0s ease;
  &:hover{
    background-color:rgba(150,150,150,0.5);
    color:white;
  }
}

