
.mission-container{
  margin:auto;
  width:100%;
}

.mission-content{
}


.word-container{
  padding:50px 7.5%;
  display:flex;
  flex-wrap: wrap;
  height:350px;
}

.mission-col {
  font-size:2em;
  color: $sec-text;
}


#mw1 span{
  letter-spacing: 1.1px;
  &:nth-child(1){
    font-size:4em;
  }
  &:nth-child(8) {
    font-size:2.5em;
  }
  &:nth-child(1) {

  }
  &:nth-child(1) {

  }
  &:nth-child(1) {

  }
  &:nth-child(1) {

  }
}