
.mission-container{
  margin:auto;
  margin-top:-50px;
  width:100%;
  height:100vh;
}

.mission-content{
  padding:0 10%;
}

.mission-cols{
  padding:50px 7.5%;
  background-color: white;
}

.mission-title {
  font-size:8em;
  z-index:1;
  color: rgba(150, 150, 150, 0.3);
}

.mission-word-container{
  margin-top: -40px;
  padding:0 5%;
}

.mission-word {
  font-size:1.3em;
}