
body{
  margin:0;
}

.result-container{
  padding:0 16px;
  @include mq(md){
    padding:0 7.3%;
  }
  @include cm();
  margin:auto;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}


.result-content{
  @include mq(md){
    padding:0 16px;
  　flex-basis:30%;
  }
  margin:32px 0;
  height:450px;
  max-width:350px;
  position:relative;
}


.result-img-box{
  margin:32px 0;
  @include centering();
}
