

.service-container{
}

.service-title {
  padding:0 7.5%;
  font-size: 8em;
  color: rgba(150, 150, 150, 0.3);
}

.service-flex-container{
  margin-top: -40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-block{
  overflow: hidden;
  flex-basis:50%;
  height:350px;
  justify-content: center;
  align-items: center;
  &:first-child{
    flex-basis:100%;
  }
  &:nth-child(1) .service-content::before{
      background-image: url(./src/img/test.png);
  }
  &:nth-child(2) .service-content::before{
    background-image: url(./src/img/test.png);
  }
  &:nth-child(5) .service-content::before{
    background-image: url(./src/img/test.png);
  }
}



.service-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
  }
  &:hover::before{
    transform: scale(1.1);
  }
  &::after {
    content: '';
    background-color: rgba(10, 10, 10, 0.5);
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s linear;
  }
  &:hover::after{
    background-color: rgba(10, 10, 10, 0.7);
  }
  &:hover > span.service-work{
    font-size:2.5em;
  }
}


span.service-work{
  color:white;
  font-size:2em;
  position: relative;
  z-index: 4;
  transition: transform 0.5s linear;
}

