

.service-container{
  @include cm();
}


.service-flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  @include mq(md) {
    padding: 0 7.2%;
  }
}

.service-block{
  margin-bottom: 64px;
  padding:16px;
  flex-basis: 400px;
  flex-grow:1;
  max-width:600px;
  transform: translateY(50px);
  opacity:0;
}
.sa div.service-block{
  @for $b from 1 through 6 {
    &:nth-child(#{$b}) {
      transition: 1s ease-out $b * 0.2s;
      transform: translateY(0px);
      opacity: 100;
    }
  }
}

.s-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.service-desc{
  flex-grow:1;
  flex-basis:400px;
}

.service-list{
  flex-grow:1;
  padding:24px;
}


.service-small{
  flex-basis:350px;
  flex-grow:1;
}

.service-content ul{
  padding:0;
  margin:0;
}

.ws-list{
  list-style-type: none;
  height:200px;
  overflow: hidden;
  margin-left:16px;
}

.ol{
  position: relative;
  &::after{
    position: absolute;
    top:0;
    z-index:2;
    content:"";
    height:100%;
    width:100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), white);
  }
}


.ws-list li{
  color:$sec-text;
  text-decoration: none;
  padding:3px;
}

.service-more{
  width:100%;
  position: relative;
}

.service-link{
  font-size:1em;
  @include mq(md){
    font-size:1.4em;
  }
  position: absolute;
  right:0;
  bottom: 0;
  font-weight:bold;
  color:$text;
  padding:0 7.5%;
  text-decoration: none;
  transition: 300ms ease 0s;
  &:hover{
    color:$def-deep;
  }
}
