

.service-container{
  padding:0 10%;
}

.service-title {
  padding:0 7.5%;
  z-index: 1;
  font-size: 8em;
  color: rgba(150, 150, 150, 0.3);
}

.service-flex-container{
  margin-top: -40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service-block{
  z-index:-1;
  flex-basis:33%;
  height:350px;
  border:solid 1px white;
  &:first-child{
    flex-basis:99%;
  }
}



.service-content{
  background-color:grey;
  width:100%;
  height:100%;
}
