@import "wp.scss";

//const
@import "color.scss";
@import "const.scss";
@import "animation.scss";
// main
@import "header.scss";
@import "top.scss";
@import "aboutus.scss";
@import "mission.scss";
@import "service.scss";
@import "news.scss";
@import "footer.scss";
@import "otherinfo.scss";
//kobetu
@import "result.scss";
@import "access.scss";
@import "form.scss";
@import "post.scss";

.body{
  margin:0;
  margin-top:70px !important;
}
.myClass{
  color:red;
}

