link(rel="stylesheet" type="text/css" href="../style.css")

section
  div.access-container
    div.access-map-box
      iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12960.172397208687!2d139.774304!3d35.70055700000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2bb9e4560068ba7!2z5qCq5byP5Lya56S-44Ki44Or44O044Kn44Ki44O844Os!5e0!3m2!1sja!2sus!4v1524814435131" width="600" height="450" frameborder="0" style="border:0")
  div.access-info    
      div
        span.a-header 所在地 
        span.sente 東京都千代田区外神田５－６－１４ 秋葉原ＫＤビル６Ｆ
      div
        span.a-header TEL 
        span.sente 03-5807-1728
      div
        span.a-header FAX
        span.sente 03-5807-1729
      
