link(rel="stylesheet" type="text/css" href="../style.css")


section
  div.contact-container
    form.contact-form
      div.contact-content
        h4.contact-header お名前
        div.contact-input-box
          input.contact-input(type="text")
      div.contact-content
        h4.contact-header 会社名
        div.contact-input-box
          input.contact-input(type="text")
      div.contact-content
        h4.contact-header メールアドレス
        div.contact-input-box
          input.contact-input(type="email")
      div.contact-content
        h4.contact-header 電話番号
        div.contact-input-box
          input.contact-input(type="tel")
      div.contact-content
        h4.contact-header お問い合わせ内容
        div.contact-input-box
          textarea.contact-textarea(type="text")
    
