link(rel="stylesheet" type="text/css" href="../style.css")

section
  div.result-container
    div.result-content
      h4.sec-header ちどり短歌会
      div.result-img-box
        img.result-image(src="http://localhost:8888/wordpress/wp-content/uploads/2018/04/smp_res_tanka.png")
      div.result-desc-box
        span.result-description 簡単操作、シンプルなデザインの短歌アプリケーション。他の会員さんとのコミュニケーション機能は、ありません。良い歌を読んだら、指を上に！  
      div.result-link-box  
        a.small-link(href="http://www.chidori.site/") サイトへ
    div.result-content
      h4.sec-header マイナー職業検索サイト「達人への道」
      div.result-img-box
        img.result-image(src="http://localhost:8888/wordpress/wp-content/uploads/2018/04/sys_res_tatumichi.png")
      div.result-desc-box
        span.result-description マイナーな職種を広く一般の方に知っていただき、現代社会には様々な生き方や、社会貢献、社会参加のカタチがあることを知ることによって、「これからの自分を見つめ直すキッカケを掴んでいただく」を目的としたサイトです。 
      div.result-link-box  
        a.small-link(href="http://www.tatsumichi.info/") サイトへ
    div.result-content
      h4.sec-header 週末が楽しくなる競馬予想ゲームサイト「G1GP」
      div.result-img-box
        img.result-image(src="http://localhost:8888/wordpress/wp-content/uploads/2018/04/sys_res_g1gp.png")
      div.result-desc-box
        span.result-description グレード１グランプリの略で、JRAが主催するグレードレースの結果を予想して大会内でポイントの獲得を競うゲームです。  
      div.result-link-box  
        a.small-link(href="http://www.g1gp.info/") サイトへ            
    div.result-content
      h4.sec-header 生活何でもカウンター「えむぽち」（モバイルサイト）
      div.result-img-box
        img.result-image(src="http://localhost:8888/wordpress/wp-content/uploads/2018/04/sys_res_mpochi_qr.jpg")
      div.result-desc-box
        span.result-description えむぽちは、お菓子の買いすぎやタバコの吸いすぎなどを確認する為のぽちぽちツールです。買い物した時にぽちって自分の統計を確認しましょう。
      div.result-link-box  
        a.small-link(href="http://www.alve.co.jp/mpochi/") サイトへ    
         
                
